.profile {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  padding: 20px;
  background-color: lightblue;
}

.card {
  margin: 0 auto;
  background-color: darkgrey;
  width: 400px;
  padding-top: 15px;
}

.avatar {
  background-color: rgb(149, 149, 249);
  width: 200px;
  border-radius: 50%;
}



.stats {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.userList {
  
  border: 2px solid darkcyan;
  padding: 20px;
  background-color: rgb(110, 207, 239);
  width: 100%;
}
.name, .quantity {
    font-weight: bold;
    font-style: normal;
    
    font-size: 24px;
    }

    .tag, .location, .label {
        font-style: normal;
        font-size: 16px;
    
       
    }
    .commonTitle{
      text-align: center;
    }